.GesendetSection{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    align-items: center;
    padding: 2rem;

}


.CheckedIcon{
    width:200px;
    height: 200px;
    color: var(--green);
    margin: 1rem;
}

.dark{
    color: rgba(60, 55, 51, 0.5);
}