:root {
  --beige: rgba(248, 240, 229, 1);
  --box-shaddow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --dark-brown: rgba(60, 55, 51, 1);
  --green: rgba(137, 157, 138, 1);
  --light-brown: rgba(60, 55, 51, 0, 5);
}

.CountdownSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.33rem;
  position: relative;
  padding: 1rem;
}

.Countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
  flex-shrink: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.66667rem;
  }
}

.Countdown div {
  width: 120px;
  color: var(--dark-brown);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  @media (min-width: 768px) {
    gap: 1.5rem;
  }
}

.seperator {
  width: 80%;
  height: 2px;
  background-color: var(--dark-brown);
  margin: 0;
  padding: 0;
  border: none;
  opacity: 50%;

  @media (min-width: 768px) {
    height: 40px;
    width: 2px;
  }
}
