@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

:root {
  --beige: rgba(248, 240, 229, 1);
  --box-shaddow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --dark-brown: rgba(60, 55, 51, 1);
  --green: rgba(137, 157, 138, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/*nochmals nach richtiger font-family schauen und wo es besser eingebettet werden kann*/

html * {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

body {
  color: var(--dark-brown);
  background-color: #f8f0e5;
  /* background-image: url(../assets/background.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  margin: 0;
}

.mainwrapper {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.subline {
  color: var(--dark-brown);
  opacity: 50%;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: #899d8a;
  text-align: center;
  font-family: "Petit Formal Script";
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  margin: 10rem 0 5rem;

  @media (max-width: 768px) {
    font-size: 6rem;
  }

  /* media query for fontt-size */
}

h2 {
  color: var(--green, #899d8a);
  font-family: "Poppins", sans-serif;
  font-size: 2.22222rem;
  line-height: 2.66667rem;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.h2PetitFormalScript {
  color: var(--green);
  font-family: "Petit Formal Script";
  font-size: 2.22222rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h3 {
  color: var(--green);
  font-family: "Poppins", sans-serif;
  font-size: 1.33333rem;
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 1.5rem 0 0 0;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  font-weight: 400;
  color: var(--dark-brown);
  margin: 0;
}

a:hover {
  color: var(--green);
}
