:root {
  --beige: rgba(248, 240, 229, 1);
  --box-shaddow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --dark-brown: rgba(60, 55, 51, 1);
  --green: #899d8a;
}

nav {
  z-index: 2;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px #00000040;
  position: fixed;
  top: 0px;
  padding: 1.5rem 0;
  margin: 0px;
}

.Navbar {
  padding: 0 1.5rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.Menu {
  display: none;
  gap: 30px;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
  }
}

.MenuLink {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.BurgerMenu {
  cursor: pointer;
  color: var(--dark-brown);
  background-color: none;

  @media (min-width: 769px) {
    display: none;
  }
}

.BurgerMenu:hover {
  color: var(--green);
}
