:root {
  --beige: rgba(248, 240, 229, 1);
  --box-shaddow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --dark-brown: rgba(60, 55, 51, 1);
  --green: #899d8a;
}


/* Allgemein */

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  text-align: left;  
}


.FormGroup{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


/* Intro Zusage */

.ToogleColum{
  width: 292px;
}

.Check{
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  margin: 0;  
  border: solid;
  border-color: #899d8a;
}

.Check:checked{
  color: var(--green);
  background-color: #899d8a;
}

.Check:hover{
  background-color: #899d8a;
}


.Checkbox{
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (min-width: 1024px) {
    
    align-self: center;
  }
}


/* Gruppierung Gast  */

.GastRow{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 6rem;
  }
}

.InputText{
  width: 18rem;
  height: 2rem;
  border: none;
}


/* .InputText:focus-visible{
  border:#899d8a;
} */



.Dropdown{
  width: 10rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: none;
}


.InputTextArea{
  width: 18rem;
  min-height: 4rem;
  border: none;
}

.Required{
  color: var(--green);
}


/* Button "Absenden" */

button{
  padding: 10px 30px;
  color: var(--beige);
  background-color:var(--green);
  border: none;
  font-weight: 400;
}

button:hover{
  background-color: rgba(60, 55, 51, 0.5);
  cursor: pointer;
  
}